@keyframes updown {
  0% {
    transform: translateY(-15%);
  }

  50% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(-15%);
  }
}

.pulse {
  animation: updown 2s ease infinite;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: 1000ms ease-out;
}

.App {
  min-height: 100vh;
  overflow: hidden;
}

.active {
  color: white;
}